body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.login-container {
    margin: 100px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#login-button {
    background-color: #1db954;
    color: #fff;
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #169f40;
}

#songs-container {
    margin-top: 20px;
}

.hidden {
    display: none;
}
